#footer {
	padding: 15px;
	background: #25a2c3;
	text-align: center;
	color: #c8e7f0;
	z-index: 2;
	position: relative;
    bottom:0;
    
}

#footer h2 {
	color: #fff;
}

#footer .icon {
	color: #5e0166;
}

#footer a {
	color: #c8e7f0;
	text-decoration: none;
}

#footer ul li {
    padding: 0 2em;
    list-style: none;

}

#footer .copyright {
	display: inline-block;
	color: #a7d9e7;
	font-size: 0.75em;
	margin: 0 0 2em 0;
	padding: 0;
	text-align: center;
	border-top: 1px solid rgba(255, 255, 255, 0.25);
	padding: 2em 10em;
}
